@media (max-width: 1200px)
    .container
        max-width: 960px
    .activities
        padding-top: 60px
        padding-bottom: 98px
        &-wrapper
            flex-wrap: wrap
            justify-content: center
        &__card   
            width: 339px
            height: 255px
            margin-bottom: 20px
            margin-left: 20px   
@media (max-width: 991px)
    .container, 
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 48px
        &-menu
            padding-top: 18px
            padding-bottom: 24px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .breadcrumb
        &-list
            padding-bottom: 10px        
    .star
        width: 6px
        height: 6px
    .hotel
        padding-top: 21px
        padding-bottom: 60px
        &-info
            &__text
                min-height: 74px
        &-description
        &-grid
            flex-direction: column
        &-slider
            width: 100% 
            margin-bottom: 30px 
        &-right
            flex-direction: row
            margin-left: 0
            width: 100% 
            
    .booking
        width: 100% 
        margin-right: 20px 
        margin-bottom: 0
    .map
        width: 100% 
        height: 215px 
        padding-right: 0
    .reviews
        &-slider
            &__item
                max-width: 580px 
    .activities
        &-wrapper
            flex-wrap: wrap
            justify-content: space-between
        &__card    
            width: 339px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0                               
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 91%
    .navbar
        &__search, &-menu, &__user
            display: none   
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: 50%            
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0    
            &__reatting
                display: none 
                &__counter
                    font-size: 15px
                    &__max
                        font-size: 10px 
            &__offer
                order: -1
                margin: 0
        &-right
            flex-direction: column       
    .booking
        width: 100%
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        &__button
            width: 100% 
            height: 45px 
    .map
        width: 100%
        padding-right: 0
    .newsletter
        &-wrapper
            max-width: 576px
            width: 91%
            flex-direction: column
            align-items: flex-start                 
    .reviews
        &-slider
            &__item
                max-width: 580px 
                padding: 0 30px 30px
                &::before, 
                &::after
                    display: none
            &__button
                top: 30px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -64px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -64px           
    .activities
        padding-top: 60px
        padding-bottom: 70px
        &-wrapper
            flex-wrap: wrap
            justify-content: space-between
            justify-content: center   
        &__card    
            width: 280px
            height: 255px 
            margin-bottom: 20px 
            margin-left: 20px            
@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &-slider
            height: auto
            margin-top: 18px
            margin-bottom: 20px   
        &-right
            flex-direction: column
    .booking
        width: 100%
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        &__button
            width: 100% 
            height: 45px 
    .map
        width: 100%
        padding-right: 0
    .newsletter
        padding: 76px 0 83px 0 
        &__title
            margin-bottom: 37px     
    .subscribe
        width: 100% 
    .activities
        &-wrapper
            flex-wrap: wrap
            justify-content: center   
        &__card    
            width: 280px
            height: 255px 
            margin-bottom: 20px 
            margin-left: 0
@media ( max-width: 320px)
    .container
        max-width: 280px
        width: 88%
    .navbar 
        &-top
            padding-top: 23px
            padding-bottom: 28px
    .logo
        font-size: 13.4237px
        line-height: 13px           
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            margin-top: 4px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: 23%
        margin-bottom: 3px 
    .breadcrumb
        max-width: 280px
        min-width: 50px                   
    .hotel
        padding-top: 13px
        padding-bottom: 40px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0    
            &__reatting
                display: none 
                &__counter
                    font-size: 15px
                    &__max
                        font-size: 10px 
            &__offer
                order: -1
                margin: 0    
        &-slider
            margin-bottom: 20px
            max-height: 179px
            &__button
                &--next
                    width: 10px
                    height: 10px
                    left: 260px
                    top: 87px
                &--prev
                    width: 10px
                    height: 10px
                    left: 10px
                    top: 87px    
    .booking
        width: 100%
        height: 210px
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        padding: 22px
        padding-top: 22px
        padding-bottom: 22px
        padding-bottom: 26px
        padding-top: 29px
        &__button
            width: 100% 
            height: 45px
        &__nomber
            max-width: 79px 
        &__nam
           margin-left: 8px
           margin-right: 5px
    .map
        width: 100%
        height: 210px
    .newsletter
        &__title
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
        &-title
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
                text-transform: uppercase                
    .reviews
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase            
    .activities
        padding-top: 40px
        padding-bottom: 60px
        &-wrapper
            flex-wrap: wrap
            justify-content: space-around   
        &__card    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0 

    
                                    
                               

          

    