@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        padding-top: 3px
        &-wrapper
    .reviews
        &-slider
            &__text
                max-width: 537px
                max-height: 114px
                margin-left: 2px
                text-align: left
                overflow: auto             
    .activities
        padding-top: 60px
        padding-bottom: 98px
        &-wrapper
            flex-wrap: wrap
            // justify-content: center
        &__card1,
        &__card2,
        &__card3,
        &__card4   
            width: 23%
            height: 255px
            margin-bottom: 20px
            margin-left: 0
    .footer
        &__input
            flex-basis: 100%                  
@media (max-width: 991px)
    .container, 
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 48px
        &-menu
            padding-top: 18px
            padding-bottom: 24px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .breadcrumb
        padding-top: 0
        padding-bottom: 8px
        &-list
            padding-bottom: 10px 
    .stars
        // flex-basis: 25%               
    // .star
    //     width: 8px
    //     height: 8px
    //     margin: 0

    .hotel
        padding-top: 23px
        padding-bottom: 60px
        &-info
            padding-bottom: 4px
            &__text
                min-height: 72px
            &__reatting
                margin-bottom: 15px    
        &-name
            margin-top: 2px           
        &-description
        &-grid
            flex-direction: column
        &-slider
            width: 100% 
            margin-bottom: 30px 
        &-right
            flex-direction: row
            margin-left: 0
            width: 100% 
    .booking
        width: 93% 
        margin-right: 20px 
        margin-bottom: 0
        padding-left: 23px
        padding-right: 22px
        margin-right: 20px
        &__info
            margin-bottom: 6px
        &__room
            padding-top: 6px
            margin-top: 0
        &__nomber 
            padding-right: 0
        &__button
            width: 294px
    .map
        width: 100% 
        height: 215px
        border-radius: 10px 
        overflow: hidden
    .newsletter
        &__title
            margin-top: 13.92px
        &__subscribe
            margin-bottom: 7px    
    .reviews
        padding-bottom: 70px
        &__title
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 38px
            text-align: center
            text-transform: uppercase
            margin-top: 43.88px
            margin-bottom: 52px
        &-slider
            &__item
                max-width: 580px
            &__avatar
                margin-bottom: 8px
            &__username
                margin-bottom: 10px
            &__text
                max-width: 475px
                max-height: 143px
                margin-left: 2px
                text-align: left
                overflow: auto    
            &__button
                &--prev
                    left: 0
                    top: 172px
                &--next
                    right: 0
                    top: 172px
    .activities
        padding-bottom: 50px
        padding-top: 22px
        &-wrapper
            flex-wrap: wrap
            // justify-content: space-between
        &__card1,
        &__card2,
        &__card3,
        &__card4       
            width: 48.5%
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            padding-bottom: 0
            padding-right: 26px 
            padding-left: 26px 
    .card    
        &__title
            margin: auto
            margin-left: 0
            margin-bottom: 18px
            margin-right: 60px    
    .footer
        padding-top: 70px
        &-wrapper
            grid-template-columns: 190px max-content 1fr auto
            grid-row-gap: 40px
        &__input
            flex-basis: 49%
        &__logo
            padding: 0
            margin: 0
            max-width: 99px
            grid-row: 1/2
            grid-column: 1
        &__social
            &-network
                grid-row: 1
                grid-column: 2/3
                padding-left: 0
                align-self: center
                margin-bottom: 0
        &__categorits
            max-width: 162px
            grid-row: 2
            grid-column: span 3
            padding: 0
            margin-left: 5px
        &__title
            &-categories
                margin-top: 0
            &-legal

        &__legal
            grid-column: 1
            padding: 0    
        &__additional
            padding-left: 0px
            grid-row: 2
            grid-column: 2     
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
            &-form
                grid-column: span 3
                grid-row: 4
        &__info
            &-payment
                margin-left: 0
                grid-row: 5
                grid-column: 1
            &-cards
                grid-column: 3 
                margin-left: 0                       
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 91%
    .navbar
        &__search, &-menu, &__user
            display: none   
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color    
    .stars
        flex-basis: 50%            
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0    
            &__reatting
                display: none 
                &__counter
                    font-size: 15px
                    &__max
                        font-size: 10px 
            &__offer
                order: -1
                margin: 0
        &-right
            flex-direction: column       
    .booking
        width: 100%
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        &__button
            width: 100% 
            height: 45px 
    .map
        width: 100%
        padding-right: 0
    .newsletter
        &-wrapper
            max-width: 576px
            width: 91%
            flex-direction: column
            align-items: flex-start                 
    .reviews
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
            // margin-top: 33.88px
            margin: 33.88px auto 43px auto
            max-width: 245px
            // padding-left: 34px
            // margin-bottom: 43px
        &-slider
            &__text

            &__item
                max-width: 580px 
                padding: 0 30px 30px
                &::before, 
                &::after
                    display: none
            &__button
                top: 30px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -64px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -64px           
    .activities
        padding-top: 22px
        padding-bottom: 70px
        &__title
            
        &-wrapper
            flex-wrap: wrap
            justify-content: space-between
            justify-content: center   
        &__card1,
        &__card2,
        &__card3,
        &__card4    
            width: 46%
            height: 255px 
            margin-bottom: 20px 
            margin-left: 0
            margin-right: 20px
    .footer
        &-wrapper
            grid-template-columns: 152px  auto
            grid-row-gap: 25px
        &__social
            &-network
                grid-row: 1
                grid-column: 2/4
                padding-left: 0
                align-self: center
                margin-bottom: 0    
        &__input
            flex-basis: 100%
        &__info
            &-payment
                margin-left: 0
                grid-row: 5
                grid-column: 1
            &-cards
                grid-column: 3 
                margin-left: 0     
@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &-slider
            height: auto
            margin-top: 18px
            margin-bottom: 20px   
        &-right
            flex-direction: column
    .booking
        width: 100%
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        &__button
            width: 100% 
            height: 45px 
    .map
        width: 100%
        padding-right: 0
    .newsletter
        padding: 76px 0 83px 0 
        &__title
            margin-bottom: 37px     
    .subscribe
        width: 100% 
    .activities
        &-wrapper
            flex-wrap: wrap
            justify-content: center   
        &__card1, 
        &__card2,
        &__card3,
        &__card4   
            width: 100%
            height: 255px 
            margin-bottom: 20px 
            margin-left: 0
    .footer
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__additional
            grid-row: 3
            grid-column: 1
        &__categorits
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1 
        &__info
            &-payment
                padding-top: 0
                grid-row: 8
                grid-column: 1
            &-cards
                grid-column: 1 
                grid-row: 9                                              
@media ( max-width: 375px)
    .container
        max-width: 280px
        width: 88%
    .navbar 
        &-top
            padding-top: 23px
            padding-bottom: 28px
    .logo
        font-size: 13.4237px
        line-height: 13px           
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            margin-top: 4px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: 23%
    .star
        margin: 0    
    .breadcrumb
        max-width: 280px
        min-width: 50px 
        padding-bottom: 2px                  
    .hotel
        padding-top: 13px
        padding-bottom: 40px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0    
            &__reatting
                display: none 
                &__counter
                    font-size: 15px
                    &__max
                        font-size: 10px 
            &__offer
                order: -1
                margin: 0    
        &-slider
            margin-top: 31px
            margin-bottom: 25px
            max-height: 179px
            &__button
                &--next
                    width: 10px
                    height: 10px
                    left: 260px
                    top: 87px
                &--prev
                    width: 10px
                    height: 10px
                    left: 10px
                    top: 87px    
    .booking
        width: 100%
        height: 210px
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        padding: 22px
        padding-top: 22px
        padding-bottom: 22px
        padding-bottom: 26px
        padding-top: 29px
        &__button
            width: 100% 
            height: 45px
        &__nomber
            max-width: 79px 
        &__nam
           margin-left: 8px
           margin-right: 5px
    .map
        width: 100%
        height: 210px
    .newsletter
        padding-top: 28px
        &-wrapper
            margin-right: 19px
            margin-left: 19px
        &__title
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
        &-title
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
                text-transform: uppercase
        &__subscribe
            max-width:  280px

    .reviews
        &-slider
            &__title
                padding-left: 34px
                padding-top: 2px
            &__text
                max-height: 268px
                margin-left: 2px
                text-align: left
                overflow: auto
            &__button
                &--prev
                    margin-left: 0
                    left: 49px
                &--next
                    margin-right: 0px
                    right: 50px      

    .activities
        padding-top: 7px
        padding-bottom: 42px
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-transform: uppercase
            margin-bottom: 38px
        &-wrapper
            display: flex
            flex-wrap: wrap
            flex-direction: column
            justify-content: space-around 
            
        &__card1    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            order: 1 
        &__card2    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            padding-right: 101px
            padding-bottom: 17px
            padding-top: 22px 
            order: 3 
        &__card3    
            width: 280px
            height: 255px 
            margin-bottom: 28px
            margin-left: 0
            padding-right: 93px
            order: 2 
        &__card4    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            padding-right: 54px 
            order: 4                            
    .card
        &__title
            margin-right: 0
        &__button2
            margin-bottom: 7px                           
    .footer
        padding-top: 66px
        &-wrapper
            grid-template-columns: 280px
            grid-row-gap: 10px
        &__logo
            grid-row: 1
            grid-column: 1
            margin-bottom: 29px
        &__social    
            &-network
                grid-row: 2
                grid-column: 1
                flex-wrap: wrap
                margin-bottom: 17px    
            &-links
                grid-column: 1
                grid-row: 2
        &__title
            &--inline
            padding-bottom: 24px            
        &__additional
            grid-row: 4
            grid-column: 1
            margin-bottom: 22px
        &__title
            &-additional
                margin-top: 14px
                margin-bottom: 13px
                font-style: normal
                font-weight: bold
                font-size: 18px
                line-height: 23px       
        &__categorits
            grid-row: 5
            grid-column: 1
            margin-left: 0
            margin-bottom: 15px
        &__legal
            grid-row: 3
            grid-column: 1
            margin-bottom: 4px
        &__title
            &-legal
                padding-bottom: 0
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
                margin-bottom: 13px
        &__title
            &--mb-3
                margin-top: 12px
                padding-bottom: 0px 
        &__ul
            &-generalinfo
                margin-top: 20px        
        &__item
            &--mb-1
                margin-bottom: 20px
        &__icon
            &-wrapper
                min-width: 25px
            &-phone
                padding-top: 12px    
            &-form
                grid-row: 7
                grid-column: 1 
        &__form
            padding-left: 0px
            // display: flex
            // flex-direction: column
            // align-items: center
            // justify-content: space-between
            // flex-wrap: wrap
        // &__button
        //     &-order2 
        //         order: 2
        //         margin-bottom: 19px
        // &__info
        //     &-order1
        //         order: 1
        //         margin-bottom: 16px                    
        &__title
            &-message
                padding-left: 0
                margin-top: 16.72px
                margin-bottom: 17px
                font-style: normal
                font-weight: bold
                font-size: 18px
                line-height: 23px
                text-transform: uppercase
        &__message
            margin-bottom: 12px
        // &__column
        //     display: flex
        //     flex-direction: column 
            // &-order1
            //     order: 1
            //     margin-bottom: 16px  
            // &-order2 
            //     order: 2
            //     margin-bottom: 19px                  
        &__info
            &-payment
                padding-top: 0
                grid-row: 8
                grid-column: 1
            &-link-one 
                margin-right: 10px   
            &-cards
                grid-column: 1 
                grid-row: 9               
          

    