@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        padding-top: 3px
        &-wrapper    
    .activities
        padding-top: 60px
        padding-bottom: 98px
        &-wrapper
            flex-wrap: wrap
            justify-content: center
        &__card1,
        &__card2,
        &__card3,
        &__card4   
            width: 339px
            height: 255px
            margin-bottom: 20px
            margin-left: 20px   
@media (max-width: 991px)
    .container, 
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 48px
        &-menu
            padding-top: 18px
            padding-bottom: 24px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .breadcrumb
        padding-top: 5px
        padding-bottom: 8px
        &-list
            padding-bottom: 10px 
    .stars
        flex-basis: 23%               
    .star
        width: 8px
        height: 8px
        margin: 0

    .hotel
        padding-top: 21px
        padding-bottom: 60px
        &-info
            padding-bottom: 8px
            &__text
                min-height: 72px
            &__reatting
                margin-bottom: 7px    
        &-name
            margin-top: 2px           
        &-description
        &-grid
            flex-direction: column
        &-slider
            width: 100% 
            margin-bottom: 30px 
        &-right
            flex-direction: row
            margin-left: 0
            width: 100% 
            
    .booking
        width: 100% 
        margin-right: 20px 
        margin-bottom: 0
        padding-left: 23px
        padding-right: 22px
        margin-right: 20px
        &__info
            margin-bottom: 6px
        &__room
            padding-right: 13px
        &__nomber 
            padding-right: 12px
        &__button
            width: 294px
    .map
        width: 100% 
        height: 215px
        border-radius: 10px 
        overflow: hidden
    .newsletter
        &__title
            margin-top: 13.92px
        &__subscribe
            margin-bottom: 7px    
    .reviews
        padding-bottom: 70px
        &__title
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 38px
            text-align: center
            text-transform: uppercase
            margin-top: 43.88px
            margin-bottom: 52px
        &-slider
            &__item
                max-width: 580px
            &__avatar
                margin-bottom: 8px
            &__username
                margin-bottom: 10px
            &__button
                &--prev
                    left: 0
                    top: 172px
                &--next
                    right: 0
                    top: 172px
    .activities
        padding-top: 28px
        &-wrapper
            flex-wrap: wrap
            justify-content: space-between
        &__card1,
        &__card2,
        &__card3,
        &__card4       
            width: 339px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            padding-bottom: 23px
            padding-right: 113px                               
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 91%
    .navbar
        &__search, &-menu, &__user
            display: none   
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color    
    .stars
        flex-basis: 50%            
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0    
            &__reatting
                display: none 
                &__counter
                    font-size: 15px
                    &__max
                        font-size: 10px 
            &__offer
                order: -1
                margin: 0
        &-right
            flex-direction: column       
    .booking
        width: 100%
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        &__button
            width: 100% 
            height: 45px 
    .map
        width: 100%
        padding-right: 0
    .newsletter
        &-wrapper
            max-width: 576px
            width: 91%
            flex-direction: column
            align-items: flex-start                 
    .reviews
        &-slider
            &__item
                max-width: 580px 
                padding: 0 30px 30px
                &::before, 
                &::after
                    display: none
            &__button
                top: 30px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -64px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -64px           
    .activities
        padding-top: 60px
        padding-bottom: 70px
        &-wrapper
            flex-wrap: wrap
            justify-content: space-between
            justify-content: center   
        &__card1,
        &__card2,
        &__card3,
        &__card4    
            width: 280px
            height: 255px 
            margin-bottom: 20px 
            margin-left: 20px            
@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &-slider
            height: auto
            margin-top: 18px
            margin-bottom: 20px   
        &-right
            flex-direction: column
    .booking
        width: 100%
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        &__button
            width: 100% 
            height: 45px 
    .map
        width: 100%
        padding-right: 0
    .newsletter
        padding: 76px 0 83px 0 
        &__title
            margin-bottom: 37px     
    .subscribe
        width: 100% 
    .activities
        &-wrapper
            flex-wrap: wrap
            justify-content: center   
        &__card1, 
        &__card2,
        &__card3,
        &__card4   
            width: 280px
            height: 255px 
            margin-bottom: 20px 
            margin-left: 0
@media ( max-width: 320px)
    .container
        max-width: 280px
        width: 88%
    .navbar 
        &-top
            padding-top: 23px
            padding-bottom: 28px
    .logo
        font-size: 13.4237px
        line-height: 13px           
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            margin-top: 4px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: 23%
    .star
        margin: 0    
    .breadcrumb
        max-width: 280px
        min-width: 50px 
        padding-bottom: 2px                  
    .hotel
        padding-top: 13px
        padding-bottom: 40px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0    
            &__reatting
                display: none 
                &__counter
                    font-size: 15px
                    &__max
                        font-size: 10px 
            &__offer
                order: -1
                margin: 0    
        &-slider
            margin-top: 31px
            margin-bottom: 20px
            max-height: 179px
            &__button
                &--next
                    width: 10px
                    height: 10px
                    left: 260px
                    top: 87px
                &--prev
                    width: 10px
                    height: 10px
                    left: 10px
                    top: 87px    
    .booking
        width: 100%
        height: 210px
        margin-top: 0
        margin-bottom: 20px
        margin-right: 0
        padding: 22px
        padding-top: 22px
        padding-bottom: 22px
        padding-bottom: 26px
        padding-top: 29px
        &__button
            width: 100% 
            height: 45px
        &__nomber
            max-width: 79px 
        &__nam
           margin-left: 8px
           margin-right: 5px
    .map
        width: 100%
        height: 210px
    .newsletter
        padding-top: 29px
        &-wrapper
            margin-right: 19px
            margin-left: 19px
        &__title
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
        &-title
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
                text-transform: uppercase
        &__subscribe
            max-width:  280px

    .reviews
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
            margin-top: 33.88px
            max-width: 245px
            padding-left: 26px
            margin-bottom: 43px
        &-slider
            &__button
                &--prev
                    margin-left: 0
                    left: 46px
                &--next
                    margin-right: 0px
                    right: 55px      

    .activities
        padding-top: 11px
        padding-bottom: 60px
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-transform: uppercase
            margin-bottom: 38px
        &-wrapper
            display: flex
            flex-wrap: wrap
            flex-direction: column
            justify-content: space-around 
            
        &__card1    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            order: 1 
        &__card2    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            padding-right: 101px
            padding-bottom: 17px
            padding-top: 22px 
            order: 3 
        &__card3    
            width: 280px
            height: 255px 
            margin-bottom: 28px
            margin-left: 0
            padding-right: 93px
            order: 2 
        &__card4    
            width: 280px
            height: 255px 
            margin-bottom: 20px
            margin-left: 0
            padding-right: 54px 
            order: 4                            
                               

          

    